# Ignore virtual environments
venv/
.env/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files and cache
*.log
*.sqlite3

.env